In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### A series is like an array in numpy, except it has data labels (so its indexed)

In [2]:
obj = Series([3,6,9])
obj

0    3
1    6
2    9
dtype: int64

In [3]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [5]:
# if we wanted to see only the value of the series object; it will show us the value in array
obj.values

array([3, 6, 9], dtype=int64)

In [8]:
# we can also see the index; it will show us the index values
obj.index

RangeIndex(start=0, stop=3, step=1)

### Creating a series with an index that we specified

In [9]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],
                index=['USSR','Germany','China','Japan','USA'])
ww2_cas
# as we can see the index is now a country name, and the values are the number of casualties

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

We can use the index values to select the series values

In [10]:
ww2_cas['USA']

400000

In [11]:
ww2_cas['USSR']

8700000

We can use / checks the series with array operations

In [12]:
# Checking which countries that have casualties greater than 4 millions
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

We can treat a series as an order dictionary

e.g. if we wanted to check an index / a value in a series, we could say :

In [13]:
'USSR' in ww2_cas

True

In [14]:
400000 is ww2_cas

False

In [15]:
400000 in ww2_cas # mboh kok gaisok

False

### Converting a series into a dictionary

In [16]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

### Converting a dictionary into a series

In [17]:
ww2_series = pd.Series(ww2_dict)
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

### we're gonna pass a dictionary into a series that the index will have dictionary keys in order

In [18]:
countries = ['Indonesia','Malaysia','Singapore','Thailand', 'Brunei', 'Philipines']
countries

['Indonesia', 'Malaysia', 'Singapore', 'Thailand', 'Brunei', 'Philipines']

In [19]:
ww2_countries = ['China','Germany','Japan','USA','USSR','France']
ww2_countries

['China', 'Germany', 'Japan', 'USA', 'USSR', 'France']

In [21]:
obj2 = pd.Series(ww2_dict, index=ww2_countries)
obj2

China      3000000.0
Germany    4300000.0
Japan      2100000.0
USA         400000.0
USSR       8700000.0
France           NaN
dtype: float64

### Pandas has built in method to find null, checking if it's there or not

In [22]:
pd.isna(obj2)

China      False
Germany    False
Japan      False
USA        False
USSR       False
France      True
dtype: bool

In [23]:
pd.isnull(obj2)

China      False
Germany    False
Japan      False
USA        False
USSR       False
France      True
dtype: bool

In [24]:
pd.notna(obj2)

China       True
Germany     True
Japan       True
USA         True
USSR        True
France     False
dtype: bool

In [25]:
pd.notnull(obj2)

China       True
Germany     True
Japan       True
USA         True
USSR        True
France     False
dtype: bool

### Adding a series (object) into a series and automatically align the data by index

In [26]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [27]:
obj2

China      3000000.0
Germany    4300000.0
Japan      2100000.0
USA         400000.0
USSR       8700000.0
France           NaN
dtype: float64

Automatically allign with the index;

no need to specified even its in the wrong order,
it will still add up the correct values by index

In [28]:
ww2_series + obj2

China       6000000.0
France            NaN
Germany     8600000.0
Japan       4200000.0
USA          800000.0
USSR       17400000.0
dtype: float64

### Giving an indexes / serieses name

In [29]:
obj2

China      3000000.0
Germany    4300000.0
Japan      2100000.0
USA         400000.0
USSR       8700000.0
France           NaN
dtype: float64

In [30]:
obj2.name = 'World war 2 Casualties'
obj2

China      3000000.0
Germany    4300000.0
Japan      2100000.0
USA         400000.0
USSR       8700000.0
France           NaN
Name: World war 2 Casualties, dtype: float64

You can also name the index

In [31]:
obj2.index

Index(['China', 'Germany', 'Japan', 'USA', 'USSR', 'France'], dtype='object')

In [32]:
obj.index.name = 'Countries' # Typo

In [33]:
obj

Countries
0    3
1    6
2    9
dtype: int64

In [34]:
obj2.index.name = 'Countries'
obj2

Countries
China      3000000.0
Germany    4300000.0
Japan      2100000.0
USA         400000.0
USSR       8700000.0
France           NaN
Name: World war 2 Casualties, dtype: float64