In [1]:
import numpy as np
import pandas as pd

In [2]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

### Manggil data dari clipboard copy

In [3]:
nfl_clipboard = pd.read_clipboard()
nfl_clipboard

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West
8,9,San Francisco 49ers[b],"1,084",574,496,14,0.536,1950,NFC West
9,10,Pittsburgh Steelers,"1,254",661,571,22,0.536,1933,AFC North

In [6]:
nfl_html = pd.read_html('https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records')
nfl_html

[                                           NFL lists
 0  Quarterbacks Career passing touchdowns leaders...
 1  Running backs Career rushing yards leaders Car...
 2  Receivers Career receptions leaders Career rec...
 3  Defense Career sacks leaders Career intercepti...
 4  Special teams Longest field goals Career punti...
 5  Other lists Career all-purpose yards leaders C...
 6  .mw-parser-output .navbar{display:inline;font-...,
                                   0
 0  Best win–loss record in division,
             Rank                    Team  \
 0              1          Dallas Cowboys
 1              2       Green Bay Packers
 2              3        Baltimore Ravens
 3              4    New England Patriots
 4              5           Chicago Bears
 5              6          Miami Dolphins
 6              7       Minnesota Vikings
 7              8      Kansas City Chiefs
 8              9  San Francisco 49ers[b]
 9             10     Pittsburgh Steelers
 10            11         New York Giants
 11            12   Indianapolis Colts[c]
 12            13          Denver Broncos
 13            14       Las Vegas Raiders
 14            15        Seattle Seahawks
 15            16        Los Angeles Rams
 16            17    Los Angeles Chargers
 17            18   Washington Commanders
 18            19     Philadelphia Eagles
 19            20        Tennessee Titans
 20            21  Cleveland Browns[b][d]
 21            22           Buffalo Bills
 22            23       Carolina Panthers
 23            24      New Orleans Saints
 24            25      Cincinnati Bengals
 25            26           Detroit Lions
 26            27           New York Jets
 27            28         Atlanta Falcons
 28            29          Houston Texans
 29            30       Arizona Cardinals
 30            31    Jacksonville Jaguars
 31            32    Tampa Bay Buccaneers
 32  Source: [10]            Source: [10]

    .mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}GP  \
 0                                                 964
 1                                                1418
 2                                                 434
 3                                                 966
 4                                                1452
 5                                                 882
 6                                                 952
 7                                                 966
 8                                                1084
 9                                                1254
 10                                               1387
 11                                               1048
 12                                                966
 13                                                966
 14                                                742
 15                                               1217
 16                                                966
 17                                               1284
 18                                               1270
 19                                                966
 20                                               1036
 21                                                965
 22                                                450
 23                                                868
 24                                                853
 25                                               1315
 26                                                966
 27                                                882
 28                                                338
 29                                               1412
 30                                                450
 31                                                742
 32                                       Source: [10]

              Won          Lost          Tied          Pct. First NFL season  \
 0            550           408             6          .574             1960
 1            790           590            38          .571             1921
 2            243           190             1          .561             1996
 3            537           420             9          .561             1960
 4            786           624            42          .556             1920
 5            485           393             4          .552             1966
 6            516           425            11          .548             1961
 7            521           433            12          .546             1960
 8            574           496            14          .536             1950
 9            661           571            22          .536             1933
 10           715           638            34          .528             1925
 11           547           493             8          .526             1953
 12           500           456            10          .523             1960
 13           497           458            11          .520             1960
 14           383           358             1          .517             1976
 15           604           592            21          .505             1937
 16           478           477            11          .501             1960
 17           625           630            29          .498             1932
 18           613           630            27          .493             1933
 19           470           490             6          .490             1960
 20           501           524            11          .489             1950
 21           462           495             8          .483             1960
 22           212           237             1          .472             1995
 23           403           460             5          .467             1967
 24           385           463             5          .454             1968
 25           579           702            34          .453             1930
 26           421           537             8          .440             1960
 27           383           493             6          .438             1966
 28           142           195             1          .434             2002
 29           581           790            41          .426             1920
 30           189           261             0          .420             1995
 31           299           442             1          .404             1976
 32  Source: [10]  Source: [10]  Source: [10]  Source: [10]     Source: [10]

         Division
 0       NFC East
 1      NFC North
 2      AFC North
 3       AFC East
 4      NFC North
 5       AFC East
 6      NFC North
 7       AFC West
 8       NFC West
 9      AFC North
 10      NFC East
 11     AFC South
 12      AFC West
 13      AFC West
 14      NFC West
 15      NFC West
 16      AFC West
 17      NFC East
 18      NFC East
 19     AFC South
 20     AFC North
 21      AFC East
 22     NFC South
 23     NFC South
 24     AFC North
 25     NFC North
 26      AFC East
 27     NFC South
 28     AFC South
 29      NFC West
 30     AFC South
 31     NFC South
 32  Source: [10]  ,
                                   0   1                        2
 0  Best win–loss record in division NaN  Team active in playoffs,
         Rank                   Team  GP  Won  Lost   Pct.  \
 0          1   New England Patriots  59   37    22  0.627
 1          2    San Francisco 49ers  59   36    23  0.610
 2          3      Green Bay Packers  61   36    25  0.590
 3    4(tied)       Baltimore Ravens  28   16    12  0.571
 4    4(tied)    Pittsburgh Steelers  63   36    27  0.571
 5          6      Las Vegas Raiders  45   25    20  0.556
 6          7         Denver Broncos  42   23    19  0.548
 7          8         Dallas Cowboys  66   36    30  0.545
 8          9  Washington Commanders  43   23    20  0.535
 9         10      Carolina Panthers  17    9     8  0.529
 10  11(tied)    Philadelphia Eagles  50   25    25  0.500
 11  11(tied)   Tampa Bay Buccaneers  22   11    11  0.500
 12  11(tied)   Jacksonville Jaguars  16    8     8  0.500
 13        14       Los Angeles Rams  53   26    27  0.491
 14        15        New York Giants  51   25    26  0.490
 15        16     Kansas City Chiefs  41   20    21  0.488
 16        17          New York Jets  25   12    13  0.480
 17        18     Indianapolis Colts  48   23    25  0.479
 18        19         Miami Dolphins  42   20    22  0.476
 19        20          Buffalo Bills  38   18    20  0.474
 20        21       Seattle Seahawks  36   17    19  0.472
 21        22          Chicago Bears  37   17    20  0.459
 22        23     New Orleans Saints  23   10    13  0.435
 23        24       Tennessee Titans  39   17    23  0.425
 24        25        Atlanta Falcons  24   10    14  0.417
 25        26      Arizona Cardinals  17    7    10  0.412
 26        27      Minnesota Vikings  52   21    31  0.404
 27        28         Houston Texans  10    4     6  0.400
 28        29   Los Angeles Chargers  31   12    19  0.387
 29        30     Cincinnati Bengals  26   10    16  0.385
 30        31       Cleveland Browns  33   12    21  0.364
 31        32          Detroit Lions  20    7    13  0.350

     Last playoffappearance   Division
 0                     2021   AFC East
 1                     2022   NFC West
 2                     2021  NFC North
 3                     2022  AFC North
 4                     2021  AFC North
 5                     2021   AFC West
 6                     2015   AFC West
 7                     2022   NFC East
 8                     2020   NFC East
 9                     2017  NFC South
 10                    2022   NFC East
 11                    2022  NFC South
 12                    2022  AFC South
 13                    2021   NFC West
 14                    2022   NFC East
 15                    2022   AFC West
 16                    2010   AFC East
 17                    2020  AFC South
 18                    2022   AFC East
 19                    2022   AFC East
 20                    2022   NFC West
 21                    2020  NFC North
 22                    2020  NFC South
 23                    2021  AFC South
 24                    2017  NFC South
 25                    2021   NFC West
 26                    2022  NFC North
 27                    2019  AFC South
 28                    2022   AFC West
 29                    2022  AFC North
 30                    2020  AFC North
 31                    2016  NFC North  ,
                           vteNational Football League  \
 0                                         2023 season
 1                                                 NaN
 2                                                 NaN
 3                          AmericanFootballConference
 4   EastNorthSouthWest Buffalo Bills Miami Dolphin...
 5                                                East
 6   Buffalo Bills Miami Dolphins New England Patri...
 7                          NationalFootballConference
 8   EastNorthSouthWest Dallas Cowboys New York Gia...
 9                                                East
 10  Dallas Cowboys New York Giants Philadelphia Ea...
 11  Seasons Seasons by team Preseason Hall of Fame...
 12                                            Seasons
 13                                            History
 14                                           Business
 15                                            Related

                         vteNational Football League.1  \
 0                                         2023 season
 1                                                 NaN
 2                                                 NaN
 3   EastNorthSouthWest Buffalo Bills Miami Dolphin...
 4   EastNorthSouthWest Buffalo Bills Miami Dolphin...
 5                                               North
 6   Baltimore Ravens Cincinnati Bengals Cleveland ...
 7   EastNorthSouthWest Dallas Cowboys New York Gia...
 8   EastNorthSouthWest Dallas Cowboys New York Gia...
 9                                               North
 10  Chicago Bears Detroit Lions Green Bay Packers ...
 11  Seasons Seasons by team Preseason Hall of Fame...
 12  Seasons by team Preseason Hall of Fame Game Am...
 13  League history Executive history Championship ...
 14  Owners Properties Management Council Competiti...
 15  Officials Stadiums Chronology Awards All-Pro H...

                                            Unnamed: 2  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                               South
 6   Houston Texans Indianapolis Colts Jacksonville...
 7                                                 NaN
 8                                                 NaN
 9                                               South
 10  Atlanta Falcons Carolina Panthers New Orleans ...
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN

                                            Unnamed: 3
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                West
 6   Denver Broncos Kansas City Chiefs Las Vegas Ra...
 7                                                 NaN
 8                                                 NaN
 9                                                West
 10  Arizona Cardinals Los Angeles Rams San Francis...
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN  ,
                                                    0  \
 0  EastNorthSouthWest Buffalo Bills Miami Dolphin...
 1                                               East
 2  Buffalo Bills Miami Dolphins New England Patri...

                                                    1  \
 0  EastNorthSouthWest Buffalo Bills Miami Dolphin...
 1                                              North
 2  Baltimore Ravens Cincinnati Bengals Cleveland ...

                                                    2  \
 0                                                NaN
 1                                              South
 2  Houston Texans Indianapolis Colts Jacksonville...

                                                    3
 0                                                NaN
 1                                               West
 2  Denver Broncos Kansas City Chiefs Las Vegas Ra...  ,
                                                    0  \
 0                                               East
 1  Buffalo Bills Miami Dolphins New England Patri...

                                                    1  \
 0                                              North
 1  Baltimore Ravens Cincinnati Bengals Cleveland ...

                                                    2  \
 0                                              South
 1  Houston Texans Indianapolis Colts Jacksonville...

                                                    3
 0                                               West
 1  Denver Broncos Kansas City Chiefs Las Vegas Ra...  ,
                                                    0  \
 0  EastNorthSouthWest Dallas Cowboys New York Gia...
 1                                               East
 2  Dallas Cowboys New York Giants Philadelphia Ea...

                                                    1  \
 0  EastNorthSouthWest Dallas Cowboys New York Gia...
 1                                              North
 2  Chicago Bears Detroit Lions Green Bay Packers ...

                                                    2  \
 0                                                NaN
 1                                              South
 2  Atlanta Falcons Carolina Panthers New Orleans ...

                                                    3
 0                                                NaN
 1                                               West
 2  Arizona Cardinals Los Angeles Rams San Francis...  ,
                                                    0  \
 0                                               East
 1  Dallas Cowboys New York Giants Philadelphia Ea...

                                                    1  \
 0                                              North
 1  Chicago Bears Detroit Lions Green Bay Packers ...

                                                    2  \
 0                                              South
 1  Atlanta Falcons Carolina Panthers New Orleans ...

                                                    3
 0                                               West
 1  Arizona Cardinals Los Angeles Rams San Francis...  ,
           0                                                  1
 0   Seasons  Seasons by team Preseason Hall of Fame Game Am...
 1   History  League history Executive history Championship ...
 2  Business  Owners Properties Management Council Competiti...
 3   Related  Officials Stadiums Chronology Awards All-Pro H...,
    vteNational Football League records and leaders  \
 0                                          General
 1                                          Passing
 2                                           Career
 3                                           Annual
 4                                             Game
 5                                          Rushing
 6                                           Career
 7                                           Annual
 8                                        Receiving
 9                                           Career
 10                                          Annual
 11                                         Defense
 12                                          Career
 13                                          Annual
 14                                   Special teams
 15                                          Career
 16                                          Annual
 17                                         Scoring
 18                                          Career
 19                                          Annual
 20                                            Game

     vteNational Football League records and leaders.1
 0   Team records Playoffs Win–loss Individual reco...
 1   Career Touchdowns Regular season Playoffs Yard...
 2   Touchdowns Regular season Playoffs Yards Compl...
 3   Touchdowns Yards 5,000 passing yards Completio...
 4              Touchdowns Yards Perfect passer rating
 5   Career Touchdowns Yards Attempts Annual Touchd...
 6                           Touchdowns Yards Attempts
 7    Touchdowns Yards 2,000-yard club 1,000-yard duos
 8   Career Touchdowns Yards Receptions Annual Touc...
 9                         Touchdowns Yards Receptions
 10       Touchdowns Yards 1,000-yard trios Receptions
 11  Career Sacks Interceptions Tackles Annual Sack...
 12                        Sacks Interceptions Tackles
 13         Sacks Interceptions Tackles Forced fumbles
 14  Career Punts Yards Kickoff return yards Annual...
 15                   Punts Yards Kickoff return yards
 16  Punting yards Punt return yards Kickoff return...
 17  Career Scoring Annual Scoring Game Highest sco...
 18                                            Scoring
 19                                            Scoring
 20                              Highest scoring games  ,

In [11]:
nfl_table = pd.read_table('https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records',sep=' ')
nfl_table
# lupa caranya

ParserError: Error tokenizing data. C error: Expected 14 fields in line 7, saw 30

# ----------------

In [12]:
nfl_clipboard

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West
8,9,San Francisco 49ers[b],"1,084",574,496,14,0.536,1950,NFC West
9,10,Pittsburgh Steelers,"1,254",661,571,22,0.536,1933,AFC North

In [13]:
nfl_clipboard.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [14]:
nfl_clipboard['Rank']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Rank, dtype: int64

In [15]:
nfl_clipboard.Rank

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Rank, dtype: int64

### grab multiple columns

This step is actually creating new DF based on nfl_clipboard

In [16]:
pd.DataFrame(nfl_clipboard,columns=['Team','Won', 'Lost', 'Tied'])

                     Team  Won  Lost  Tied
0          Dallas Cowboys  550   408     6
1       Green Bay Packers  790   590    38
2        Baltimore Ravens  243   190     1
3    New England Patriots  537   420     9
4           Chicago Bears  786   624    42
5          Miami Dolphins  485   393     4
6       Minnesota Vikings  516   425    11
7      Kansas City Chiefs  521   433    12
8  San Francisco 49ers[b]  574   496    14
9     Pittsburgh Steelers  661   571    22

for example, we're going to call another column that are not in the nfl_clipboard columns

In [17]:
pd.DataFrame(nfl_clipboard,columns=['Team','Won', 'Lost', 'Tied','Stadium'])

                     Team  Won  Lost  Tied  Stadium
0          Dallas Cowboys  550   408     6      NaN
1       Green Bay Packers  790   590    38      NaN
2        Baltimore Ravens  243   190     1      NaN
3    New England Patriots  537   420     9      NaN
4           Chicago Bears  786   624    42      NaN
5          Miami Dolphins  485   393     4      NaN
6       Minnesota Vikings  516   425    11      NaN
7      Kansas City Chiefs  521   433    12      NaN
8  San Francisco 49ers[b]  574   496    14      NaN
9     Pittsburgh Steelers  661   571    22      NaN

### Retrieving rows

In [18]:
nfl_clipboard.head() # retrieving first 5 rows

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North

In [19]:
nfl_clipboard.tail() # retrieving last 5 rows

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West
8,9,San Francisco 49ers[b],"1,084",574,496,14,0.536,1950,NFC West
9,10,Pittsburgh Steelers,"1,254",661,571,22,0.536,1933,AFC North

In [25]:
nfl_clipboard.iloc[0] # iloc for index; sebelumnya namanya ix

Rank                             1
Team                Dallas Cowboys
GP                             964
Won                            550
Lost                           408
Tied                             6
Pct.                         0.574
First NFL season              1960
Division                  NFC East
Name: 0, dtype: object

### Assign values to entire columns

In [26]:
nfl_clipboard['Stadium'] = "Levi's Stadium"
nfl_clipboard

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,Levi's Stadium
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,Levi's Stadium
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,Levi's Stadium
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,Levi's Stadium
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,Levi's Stadium
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East,Levi's Stadium
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North,Levi's Stadium
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West,Levi's Stadium
8,9,San Francisco 49ers[b],"1,084",574,496,14,0.536,1950,NFC West,Levi's Stadium
9,10,Pittsburgh Steelers,"1,254",661,571,22,0.536,1933,AFC North,Levi's Stadium

In [27]:
nfl_clipboard['Num_Stadium'] = np.arange(10)
nfl_clipboard

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium,Num_Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,Levi's Stadium,0
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,Levi's Stadium,1
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,Levi's Stadium,2
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,Levi's Stadium,3
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,Levi's Stadium,4
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East,Levi's Stadium,5
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North,Levi's Stadium,6
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West,Levi's Stadium,7
8,9,San Francisco 49ers[b],"1,084",574,496,14,0.536,1950,NFC West,Levi's Stadium,8
9,10,Pittsburgh Steelers,"1,254",661,571,22,0.536,1933,AFC North,Levi's Stadium,9

### What if you want to add a series to a dataframe

In [28]:
Stadiums = pd.Series(["Levi's Stadium",'AT&T Stadium'],index=[9,0])
Stadiums

9    Levi's Stadium
0      AT&T Stadium
dtype: object

In [29]:
nfl_clipboard['Stadium'] = Stadiums
nfl_clipboard

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium,Num_Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,AT&T Stadium,0
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,NaN,1
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,NaN,2
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,NaN,3
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,NaN,4
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East,NaN,5
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North,NaN,6
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West,NaN,7
8,9,San Francisco 49ers[b],"1,084",574,496,14,0.536,1950,NFC West,NaN,8
9,10,Pittsburgh Steelers,"1,254",661,571,22,0.536,1933,AFC North,Levi's Stadium,9

### Deleting column

In [30]:
del nfl_clipboard['Stadium']
nfl_clipboard

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Num_Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,0
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,1
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,2
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,3
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,4
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East,5
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North,6
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West,7
8,9,San Francisco 49ers[b],"1,084",574,496,14,0.536,1950,NFC West,8
9,10,Pittsburgh Steelers,"1,254",661,571,22,0.536,1933,AFC North,9

In [35]:
nfl_clipboard.drop('Num_Stadium',axis=1,inplace=True)
nfl_clipboard

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West
8,9,San Francisco 49ers[b],"1,084",574,496,14,0.536,1950,NFC West
9,10,Pittsburgh Steelers,"1,254",661,571,22,0.536,1933,AFC North

### Construct Data Frame using dictionaries

In [36]:
data = {'City':['SF','LA','NYC'],
        'Population':[840000,4000000,8500000]}
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [840000, 4000000, 8500000]}

In [37]:
city_frame = pd.DataFrame(data)
city_frame

  City  Population
0   SF      840000
1   LA     4000000
2  NYC     8500000

In [39]:
#For full list of ways to create DataFrames from various sources go to teh documentation for pandas:
website = 'http://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.html'
webbrowser.open(website)

True