In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

### Drop an index

In [2]:
ser1 = pd.Series(np.arange(3),['A','B','C'])
ser1

A    0
B    1
C    2
dtype: int32

In [4]:
ser1.drop('B')

A    0
C    2
dtype: int32

In [9]:
ser1.drop(0,axis=0)

KeyError: '[0] not found in axis'

In [20]:
df = pd.DataFrame(np.arange(9).reshape(3,3),index=['SF','LA','NY'],columns=['pop','size','year'])
df

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [21]:
df.drop('LA')

    pop  size  year
SF    0     1     2
NY    6     7     8

In [22]:
df2 = df.drop('LA')
df2

    pop  size  year
SF    0     1     2
NY    6     7     8

In [23]:
df

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [24]:
df2.drop('NY',inplace=True)
df2

    pop  size  year
SF    0     1     2

### Drop a column

In [25]:
df

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [26]:
df.drop('year',axis=1)

    pop  size
SF    0     1
LA    3     4
NY    6     7

In [27]:
df

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [28]:
df3 = df.drop('year',axis=1)
df3

    pop  size
SF    0     1
LA    3     4
NY    6     7

In [29]:
df3.drop('pop',axis=1,inplace=True)
df3

    size
SF     1
LA     4
NY     7