In [1]:
import numpy as np
import pandas as pd

In [2]:
ser1 = pd.Series(range(3),index=['C','A','B'])
ser1

C    0
A    1
B    2
dtype: int64

#### Sort by the index

In [3]:
ser1.sort_index()

A    1
B    2
C    0
dtype: int64

#### Sort by the value

In [5]:
ser1.sort_values()

C    0
A    1
B    2
dtype: int64

#### Ranking

In [6]:
np.random.randn(10)

array([ 0.6130982 , -1.36889678, -0.27228022,  0.14894851,  0.10808558,
       -0.77802779,  0.54036945, -0.5958661 , -0.83048403, -0.18941154])

In [8]:
ser2 = pd.Series(np.random.randn(10))
ser2

0    0.525365
1    0.666791
2    0.704740
3    0.048783
4    1.035185
5    0.636197
6    0.885415
7   -0.340909
8   -0.148673
9   -0.600714
dtype: float64

In [9]:
ser2.sort_index()

0    0.525365
1    0.666791
2    0.704740
3    0.048783
4    1.035185
5    0.636197
6    0.885415
7   -0.340909
8   -0.148673
9   -0.600714
dtype: float64

In [10]:
ser2.sort_values()

9   -0.600714
7   -0.340909
8   -0.148673
3    0.048783
0    0.525365
5    0.636197
1    0.666791
2    0.704740
6    0.885415
4    1.035185
dtype: float64

In [11]:
ser2.rank()

0     5.0
1     7.0
2     8.0
3     4.0
4    10.0
5     6.0
6     9.0
7     2.0
8     3.0
9     1.0
dtype: float64

In [13]:
df1 = pd.DataFrame({'Rank':ser2.rank(),
                    'Value':ser2})
df1

   Rank     Value
0   5.0  0.525365
1   7.0  0.666791
2   8.0  0.704740
3   4.0  0.048783
4  10.0  1.035185
5   6.0  0.636197
6   9.0  0.885415
7   2.0 -0.340909
8   3.0 -0.148673
9   1.0 -0.600714

In [14]:
ser3 = pd.Series(np.random.randn(10))
ser3

0   -0.399064
1   -1.254561
2   -0.955530
3   -1.955630
4    1.152450
5    0.089111
6   -0.469006
7   -0.132815
8    1.447686
9   -0.902347
dtype: float64

In [15]:
ser3.rank()

0     6.0
1     2.0
2     3.0
3     1.0
4     9.0
5     8.0
6     5.0
7     7.0
8    10.0
9     4.0
dtype: float64

In [16]:
ser3.sort_values().rank()

3     1.0
1     2.0
2     3.0
9     4.0
6     5.0
0     6.0
7     7.0
5     8.0
4     9.0
8    10.0
dtype: float64